<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Hariprasad OJT Project!</title>
    <style></style>
  </head>
  <body>
    <div>
      <h1>Welcome <%= username %>!</h1>
      <p>Thank you for registering with us.</p>
      <p>We're excited to have you as a member of our community.</p>
      <p>
        Feel free to explore my project and discover all the amazing features.
      </p>
      <p>
        If you have any questions or need assistance, don't hesitate to contact
        us.
      </p>
      <p>Best regards,</p>
      <p>Hariprasad J</p>
    </div>
  </body>
</html>
